/* Lebarkan dropdown dalam QueryBuilder */
.fi-query-builder .fi-select-panel {
    min-width: 300px !important;
    max-width: 400px;
    white-space: nowrap;
}

.fi-query-builder .fi-select-option-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Style untuk navigasi aktif */
.fi-sidebar-nav-item > a.fi-active {
    background-color: var(--primary-500) !important;
    color: #fff !important;
}

.fi-sidebar-nav-item > a.fi-active:hover {
    background-color: var(--primary-600) !important;
}
